In [1]:
import pandas as pd
import json
from methods import grabber 
from methods.pandas_process import posts_transfrom_json_to_pandas
from methods.pandas_process import likes_to_recsys_matrix
import time
from tqdm import tqdm
from methods.pandas_process import users_transfrom_json_to_pandas

VK API is available

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [10]:
f = grabber.grabb_group_info("31480508", posts_count=2000)

100%|██████████| 100/100 [00:50<00:00,  1.98it/s]
100%|██████████| 100/100 [00:49<00:00,  2.01it/s]
100%|██████████| 100/100 [00:50<00:00,  1.99it/s]
100%|██████████| 100/100 [00:50<00:00,  1.99it/s]
100%|██████████| 100/100 [00:50<00:00,  2.00it/s]
100%|██████████| 100/100 [00:50<00:00,  2.00it/s]
100%|██████████| 100/100 [00:50<00:00,  1.99it/s]
100%|██████████| 100/100 [00:50<00:00,  1.97it/s]
100%|██████████| 100/100 [00:50<00:00,  2.00it/s]
100%|██████████| 100/100 [00:50<00:00,  2.00it/s]
100%|██████████| 100/100 [00:50<00:00,  1.99it/s]
100%|██████████| 100/100 [00:50<00:00,  1.97it/s]
100%|██████████| 100/100 [00:50<00:00,  1.98it/s]
100%|██████████| 100/100 [00:50<00:00,  2.00it/s]
100%|██████████| 100/100 [00:50<00:00,  1.98it/s]
100%|██████████| 100/100 [00:50<00:00,  1.98it/s]
100%|██████████| 100/100 [00:50<00:00,  1.98it/s]
100%|██████████| 100/100 [00:51<00:00,  1.95it/s]
100%|██████████| 100/100 [00:51<00:00,  1.95it/s]
100%|██████████| 100/100 [00:50<00:00,  1.98it/s]

In [11]:
posts_info = posts_transfrom_json_to_pandas(f["posts"])
posts_info.to_csv("data/posts.csv")
posts_info.head(10)

,is_pinned,marked_as_ads,date,id,post_type,text,owner,photo_text,photo_date,group_id,...,author_ad.ad_marker,edited,neutral,skip,positive,negative,speech,hashtags,tfidf,lda
0,1.0,0,2023-11-10 18:30:00,31480508_1517708,post,Как добиться тишины? \n\nКомментарии: pikabu.r...,1,,2023-11-10 13:44:40,31480508,...,NaN,NaN,0.985053,0.073706,NaN,NaN,NaN,[],"{'000': 0.4867864992221829, '10': 0.4604131970...","[(0, 0.034065466), (1, 0.033642188), (2, 0.033..."
1,NaN,0,2023-11-13 14:30:00,31480508_1517992,post,Игрушки умерших домашних любимцев,1,NaN,NaT,31480508,...,NaN,NaN,NaN,NaN,0.334599,0.073706,NaN,[],{},"[(0, 0.8346194), (1, 0.04118905), (2, 0.041687..."
2,NaN,0,2023-11-13 14:15:00,31480508_1517991,post,Почему высокая зарплата для рабочих — это очен...,1,NaN,NaT,31480508,...,NaN,NaN,0.749097,NaN,NaN,0.262852,NaN,[],"{'000': 0.043093838329244315, '10': 0.04502163...","[(2, 0.9972015)]"
3,NaN,0,2023-11-13 14:00:02,31480508_1517990,post,Кого можно назвать самым крутым человеком в ис...,1,NaN,NaT,31480508,...,NaN,NaN,0.362979,NaN,NaN,0.262852,NaN,[],"{'000': 0.08523909614438384, '10': 0.114804260...","[(0, 0.99861246)]"
4,NaN,0,2023-11-13 13:00:05,31480508_1517986,post,Сегодня и до конца дня в «Пикмане» открыт соре...,1,NaN,NaT,31480508,...,NaN,NaN,0.760661,NaN,NaN,0.090103,NaN,[],"{'000': 0.27883317626738596, '10': 0.215595160...","[(2, 0.9882127)]"
5,NaN,0,2023-11-13 12:40:00,31480508_1517981,post,Идеальный мужик\n\nКомментарии: pikabu.ru/link...,1,,2023-11-13 07:35:27,31480508,...,NaN,NaN,0.956644,0.060097,NaN,NaN,NaN,[],"{'000': 0.8806271941947689, '10': 0.2306442232...","[(0, 0.8338518), (1, 0.040844515), (2, 0.04274..."
6,NaN,0,2023-11-13 12:20:00,31480508_1517978,post,Обидел\n\nПо студенчеству жили в одной комнате...,1,NaN,NaT,31480508,...,NaN,NaN,0.201823,NaN,NaN,0.445540,NaN,[],"{'000': 0.21593914417349946, '10': 0.281658318...","[(0, 0.16509216), (4, 0.82900906)]"
7,NaN,0,2023-11-13 12:00:03,31480508_1517977,post,"Виски, фондю и прочее суши\n\nСидел я как-то, ...",1,NaN,NaT,31480508,...,NaN,NaN,0.370235,NaN,NaN,0.262852,NaN,[],"{'000': 0.10081371921235072, '10': 0.074355263...","[(2, 0.9985538)]"
8,NaN,0,2023-11-13 11:40:00,31480508_1517976,post,«Решила сегодня рассказать вам о самом приятно...,1,NaN,NaT,31480508,...,NaN,NaN,0.300756,NaN,0.233716,NaN,NaN,[],"{'000': 0.2004044240178171, '10': 0.2126607909...","[(0, 0.64535433), (1, 0.34789553)]"
9,NaN,0,2023-11-13 11:20:00,31480508_1517975,post,Выживание: Мужчины vs. Женщины\n\nМного лет на...,1,NaN,NaT,31480508,...,NaN,NaN,0.414909,NaN,NaN,0.314061,NaN,[],"{'000': 0.06268919298496592, '10': 0.061454056...","[(0, 0.9986838)]"

In [12]:
recsys_matrix = likes_to_recsys_matrix(f["likes"])
recsys_matrix.to_csv("data/rank_matrix.csv")
recsys_matrix

1,286,308,409,979,1145,1398,1654,1667,1948,2330,...,830212968,830298811,830307294,830386647,830400308,830884049,830999713,831094827,831095497,831217756
0,,,,,,,,,,,,,,,,,,,,,
1513984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1513985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1513986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1513987,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1513988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
def get_active_user_info(recsys_matrix, threshold = 3):
    active_users = recsys_matrix.loc[:, (~recsys_matrix.isna()).sum() >= threshold].columns
    users_info = []
    for j in tqdm(active_users):
        users_info.append(grabber.user_request(j))
        time.sleep(0.4)
    df = users_transfrom_json_to_pandas(users_info)
    return df

In [14]:
stats = []
for j in range(50):
    stats.append([j, recsys_matrix.loc[:, (~recsys_matrix.isna()).sum() >= j].shape[1], recsys_matrix.shape[1], recsys_matrix.shape[0]])
statsdf = pd.DataFrame(stats)
statsdf[4] = (statsdf[1]/statsdf[2])*100
statsdf.head(20)

     0      1      2     3           4
0    0  43298  43298  1997  100.000000
1    1  43298  43298  1997  100.000000
2    2  16936  43298  1997   39.114971
3    3  10644  43298  1997   24.583122
4    4   7865  43298  1997   18.164811
5    5   6262  43298  1997   14.462562
6    6   5237  43298  1997   12.095247
7    7   4484  43298  1997   10.356137
8    8   3946  43298  1997    9.113585
9    9   3515  43298  1997    8.118158
10  10   3199  43298  1997    7.388332
11  11   2928  43298  1997    6.762437
12  12   2721  43298  1997    6.284355
13  13   2502  43298  1997    5.778558
14  14   2312  43298  1997    5.339739
15  15   2164  43298  1997    4.997921
16  16   2024  43298  1997    4.674581
17  17   1895  43298  1997    4.376646
18  18   1791  43298  1997    4.136450
19  19   1694  43298  1997    3.912421

In [14]:
# recsys_matrix.to_csv("tmp.csv")
# recsys_matrix = pd.read_csv("tmp.csv")

In [15]:
users_df = get_active_user_info(recsys_matrix, 6)
users_df.to_csv("data/users.csv")
users_df

 53%|█████▎    | 2766/5237 [26:30<21:13,  1.94it/s]

In [ ]:
users_df.to_csv("data/users.csv")
posts_info.to_csv("data/posts.csv")
recsys_matrix.to_csv("data/rank_matrix.csv")