In [95]:
import pandas as pd
import json
from methods.grabber import grabb_users_and_likes

In [96]:
grabb_users_and_likes("94")

55750

100%|████████████████████████████████████████████| 5/5 [00:01<00:00,  4.28it/s]
100%|████████████████████████████████████████| 161/161 [00:38<00:00,  4.16it/s]

True

In [84]:
df = json.load(open("data/user_info.json","r",encoding='utf-8'))["user_info"]
df = pd.json_normalize(df)

In [85]:
df = df.drop(columns=["can_access_closed", 
                      "personal", 
                      "relation_partner.id", 
                      'relation_partner.first_name', 
                      'relation_partner.last_name'])

In [86]:
df.loc[~pd.isna(df["relation"]) & (df["relation"]==0), "relation"] = None

In [94]:
col = "personal.people_main"
df[~pd.isna(df[col])][col].value_counts()

personal.people_main
0.0    32
2.0     6
5.0     3
1.0     2
6.0     1
Name: count, dtype: int64

In [88]:
df

,id,bdate,has_photo,has_mobile,followers_count,sex,verified,friend_status,first_name,last_name,...,counters.clips,counters.clips_views,counters.clips_likes,counters.posts,skype,personal.political,personal.religion,counters.articles,twitter,personal.religion_id
0,6152705,8.3.1965,1,1,136.0,1,0,0,Ekaterina,Zaderieva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,136014858,30.7.2002,1,1,622.0,1,0,0,Alisa,Boyarkina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,710431761,11.3.2008,1,1,14.0,1,0,0,Byka,Bybyby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50867218,30.9,1,1,465.0,2,0,0,Alexey,Novikov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,65948699,6.4,1,1,936.0,2,0,0,Danila,Potsenkovsky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,330745,22.8.1985,1,1,NaN,1,0,0,Olga,Polyakova,...,NaN,NaN,NaN,177.0,NaN,NaN,NaN,NaN,NaN,NaN
156,170808314,22.6,1,1,1249.0,1,0,0,Viktoria,Vavilova,...,NaN,NaN,NaN,NaN,vkravz,NaN,NaN,NaN,NaN,NaN
157,58423803,14.10,1,1,579.0,2,0,0,Egor,Trufanov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,126338556,14.10.1998,1,1,1781.0,1,0,0,Anastasia,Gerasimova,...,NaN,NaN,NaN,NaN,NaN,NaN,Православие,1.0,NaN,102.0
159,125439,10.6,1,1,1102.0,2,0,0,Danil,Krutskikh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
def bdate_year_parser(bday):
    if pd.isna(bday):
        return None
    bday = bday.split(".")
    if len(bday) == 3:
        return pd.to_datetime(".".join(bday), format="%d.%m.%Y")
    else:
        return None
df["bdate"].apply(bdate_year_parser)

0     1965-03-08
1     2002-07-30
2     2008-03-11
3            NaT
4            NaT
         ...
155   1985-08-22
156          NaT
157          NaT
158   1998-10-14
159          NaT
Name: bdate, Length: 160, dtype: datetime64[ns]

In [90]:
df["bdate"] = df["bdate"].apply(bdate_year_parser)

In [91]:
now = pd.to_datetime('now')
df['age'] = (now.year - df['bdate'].dt.year) - ((now.month - df['bdate'].dt.month) < 0)

In [93]:
df.columns

Index(['id', 'bdate', 'has_photo', 'has_mobile', 'followers_count', 'sex',
       'verified', 'friend_status', 'first_name', 'last_name', 'is_closed',
       'city.id', 'city.title', 'country.id', 'country.title', 'occupation.id',
       'occupation.name', 'occupation.type', 'occupation.graduate_year',
       'occupation.country_id', 'occupation.city_id', 'counters.albums',
       'counters.audios', 'counters.followers', 'counters.pages',
       'counters.photos', 'counters.subscriptions', 'counters.videos',
       'counters.video_playlists', 'counters.clips_followers', 'interests',
       'books', 'tv', 'games', 'movies', 'activities', 'music', 'career',
       'military', 'university', 'university_name', 'faculty', 'faculty_name',
       'graduation', 'home_town', 'relation', 'universities', 'schools',
       'relatives', 'personal.alcohol', 'personal.inspired_by',
       'personal.langs', 'personal.langs_full', 'personal.life_main',
       'personal.people_main', 'personal.smoking', 'education_form',
       'counters.groups', 'education_status', 'counters.gifts',
       'counters.clips', 'counters.clips_views', 'counters.clips_likes',
       'counters.posts', 'skype', 'personal.political', 'personal.religion',
       'counters.articles', 'twitter', 'personal.religion_id', 'age'],
      dtype='object')

In [53]:
to_drop = []
for j in df.columns:
    if (df[j].isna().all()):
        print(j)

In [55]:
to_drop = []
for j in df.columns:
    if (df[j].value_counts().shape[0]==1):
        print(j)

has_mobile
blacklisted
blacklisted_by_me
is_hidden_from_feed
friend_status
crop_photo.photo.album_id
crop_photo.photo.text
crop_photo.photo.has_tags
online_mobile
personal
status_audio.artist
status_audio.id
status_audio.owner_id
status_audio.title
status_audio.duration
status_audio.is_explicit
status_audio.is_focus_track
status_audio.track_code
status_audio.url
status_audio.stream_duration
status_audio.date
status_audio.main_artists
status_audio.short_videos_allowed
status_audio.stories_allowed
status_audio.stories_cover_allowed

In [28]:
data = json.load(open("user_info.json", "r"))["users_likes"]
data_for_df = []
for i in data:
    data_for_df.extend(list(zip([i]*len(data[i]), map(str, data[i]))))
data_for_df

[('55750', '815362636'),
 ('55750', '120924785'),
 ('55750', '447424684'),
 ('55750', '170808314'),
 ('55750', '91353123'),
 ('55750', '126338556'),
 ('55750', '489217298'),
 ('55750', '279043178'),
 ('55750', '268430097'),
 ('55750', '347156076'),
 ('55750', '196095965'),
 ('55750', '638912159'),
 ('55750', '332224693'),
 ('55750', '356277235'),
 ('55750', '146427005'),
 ('55750', '299292594'),
 ('55750', '176881599'),
 ('55750', '332696791'),
 ('55750', '224594876'),
 ('55750', '515756155'),
 ('55750', '485120158'),
 ('55750', '138446566'),
 ('55750', '31065326'),
 ('55750', '249571811'),
 ('55750', '218910388'),
 ('55750', '6371'),
 ('55750', '46214'),
 ('55750', '74392'),
 ('55750', '125439'),
 ('55750', '177311'),
 ('55750', '330745'),
 ('55750', '482895'),
 ('55750', '546612'),
 ('55750', '617688'),
 ('55750', '769957'),
 ('55750', '1548422'),
 ('55750', '2070090'),
 ('55750', '2240973'),
 ('55750', '2448445'),
 ('55750', '2714695'),
 ('55750', '2874359'),
 ('55750', '2930269'),
 ('55750', '2970426'),
 ('55750', '3461247'),
 ('55750', '3621236'),
 ('55750', '3675039'),
 ('55750', '3676059'),
 ('55750', '4765850'),
 ('55750', '5882611'),
 ('55750', '6152705'),
 ('55750', '7098919'),
 ('55750', '7108139'),
 ('55750', '7415724'),
 ('55750', '7661338'),
 ('55750', '8009431'),
 ('55750', '8069449'),
 ('55750', '10375032'),
 ('55750', '11591755'),
 ('55750', '11734757'),
 ('55750', '12396744'),
 ('55750', '12928384'),
 ('55750', '15595769'),
 ('55750', '16745752'),
 ('55750', '17630487'),
 ('55750', '18140058'),
 ('55750', '21798320'),
 ('55750', '23088171'),
 ('55750', '24278088'),
 ('55750', '25448886'),
 ('55750', '26305326'),
 ('55750', '28518366'),
 ('55750', '29039694'),
 ('55750', '29076461'),
 ('55750', '30739440'),
 ('55750', '31314562'),
 ('55750', '31396775'),
 ('55750', '31746367'),
 ('55750', '31795984'),
 ('55750', '32039088'),
 ('55750', '32312530'),
 ('55750', '32518617'),
 ('55750', '34323679'),
 ('55750', '34683674'),
 ('55750', '36568857'),
 ('55750', '38183149'),
 ('55750', '39235243'),
 ('55750', '40694836'),
 ('55750', '40767810'),
 ('55750', '41364631'),
 ('55750', '50609713'),
 ('55750', '50867218'),
 ('55750', '52214093'),
 ('55750', '52709986'),
 ('55750', '53743549'),
 ('55750', '60753377'),
 ('55750', '60858807'),
 ('55750', '62197226'),
 ('55750', '62449311'),
 ('55750', '65321720'),
 ('55750', '65948699'),
 ('56623', '815362636'),
 ('56623', '215381931'),
 ('56623', '62449311'),
 ('56623', '249953241'),
 ('56623', '13631376'),
 ('56623', '155238333'),
 ('56623', '266851580'),
 ('56621', '177599'),
 ('56621', '628114'),
 ('56621', '236437161'),
 ('56621', '250345824'),
 ('56621', '536888331'),
 ('56621', '132907747'),
 ('56621', '685415978'),
 ('56621', '100426233'),
 ('56621', '4411590'),
 ('56621', '653141341'),
 ('56621', '141399482'),
 ('56621', '196831349'),
 ('56621', '132930861'),
 ('56621', '8574436'),
 ('56621', '13815733'),
 ('56621', '83945480'),
 ('56621', '271593797'),
 ('56621', '136371753'),
 ('56621', '211192353'),
 ('56621', '208856398'),
 ('56621', '33700553'),
 ('56621', '515048560'),
 ('56621', '345605246'),
 ('56621', '177029567'),
 ('56621', '91627257'),
 ('56621', '91907990'),
 ('56621', '189911714'),
 ('56621', '807207156'),
 ('56621', '134771299'),
 ('56621', '208647804'),
 ('56621', '2643031'),
 ('56621', '152416966'),
 ('56621', '240746064'),
 ('56621', '3676059'),
 ('56621', '591518546'),
 ('56621', '400266298'),
 ('56621', '7007438'),
 ('56621', '123645967'),
 ('56621', '1397481'),
 ('56621', '240617983'),
 ('56621', '2413525'),
 ('56621', '30617736'),
 ('56621', '136916'),
 ('56621', '31795984'),
 ('56621', '33979484'),
 ('56621', '41144145'),
 ('56621', '245521273'),
 ('56621', '586271927'),
 ('56621', '222651136'),
 ('56621', '2974332'),
 ('56621', '275042427'),
 ('56621', '206910367'),
 ('56621', '319307405'),
 ('56621', '10208826'),
 ('56621', '96514529'),
 ('56621', '74974397'),
 ('56621', '31427931'),
 ('56621', '245709217'),
 ('56621', '175825897'),
 ('56621', '138446566'),
 ('56621', '353345497'),
 ('56621', '157576131'),
 ('56621', '558984534'),
 ('56621', '14130'),
 ('56621', '431102690'),
 ('56621', '763530412'),
 ('56621', '20199180'),
 ('56621', '559085174'),
 ('56621', '462468262'),
 ('56621', '217271328'),
 ('56621', '264605991'),
 ('56621', '8905788'),
 ('56621', '769896244'),
 ('56621', '5133461'),
 ('56621', '14592163'),
 ('56621', '709322365'),
 ('56621', '104382647'),
 ('56621', '256335274'),
 ('56621', '336610200'),
 ('56621', '769138030'),
 ('56621', '439774598'),
 ('56621', '249953241'),
 ('56621', '145157781'),
 ('56621', '356599570'),
 ('56621', '197044180'),
 ('56621', '380845543'),
 ('56621', '246184851'),
 ('56621', '383501067'),
 ('56621', '89417157'),
 ('56621', '65020531'),
 ('56621', '132460094'),
 ('56621', '421101608'),
 ('56621', '161107581'),
 ('56621', '11312216'),
 ('56621', '2070090'),
 ('56621', '52214093'),
 ('56621', '4951128'),
 ('56621', '7021704'),
 ('56621', '201814463'),
 ('56621', '565922085'),
 ('56619', '157755263'),
 ('56619', '145157781'),
 ('56619', '544957186'),
 ('56619', '379987985'),
 ('56619', '56380224'),
 ('56619', '266851580'),
 ('56619', '744054487'),
 ('56619', '179215256'),
 ('56619', '297526820'),
 ('56619', '81516676'),
 ('56619', '3461247'),
 ('56619', '559158166'),
 ('56619', '50012236'),
 ('56619', '233405583'),
 ('56619', '53137703'),
 ('56619', '3355905'),
 ('56619', '62449311'),
 ('56619', '155238333'),
 ('56619', '104382647'),
 ('56619', '165399992'),
 ('56619', '555304430'),
 ('56619', '67628323'),
 ('56616', '815362636'),
 ('56616', '50012236'),
 ('56616', '638912159'),
 ('56616', '680089470'),
 ('56616', '622680110'),
 ('56616', '383501067'),
 ('56616', '41144145'),
 ('56616', '266851580'),
 ('56616', '538161678'),
 ('56616', '250345824'),
 ('56616', '503920129'),
 ('56616', '60858807'),
 ('56616', '546612'),
 ('56616', '3461247'),
 ('56616', '155238333'),
 ('56616', '658239405'),
 ('56616', '803126561'),
 ('56616', '616076869'),
 ('56616', '2448445'),
 ('56614', '266851580'),
 ('56614', '401402807'),
 ('56614', '240617983'),
 ('56614', '380845543'),
 ('56614', '546612'),
 ('56614', '379987985'),
 ('56614', '538161678'),
 ('56614', '589370912'),
 ('56614', '250345824'),
 ('56614', '63299349'),
 ('56614', '656404297'),
 ('56614', '652799516'),
 ('56614', '110614380'),
 ('56614', '523364962'),
 ('56614', '625887544'),
 ('56614', '170229946'),
 ('56614', '563827481'),
 ('56614', '155238333'),
 ('56614', '13568580'),
 ('56614', '3355905'),
 ('56614', '2448445'),
 ('56614', '555304430'),
 ('56614', '3461247'),
 ('56614', '18239'),
 ('56614', '84006'),
 ('56610', '1548422'),
 ('56610', '330171503'),
 ('56610', '437737411'),
 ('56610', '347233720'),
 ('56610', '3725511'),
 ('56610', '2874359'),
 ('56610', '184594037'),
 ('56610', '266851580'),
 ('56610', '380845543'),
 ('56610', '700863813'),
 ('56610', '546612'),
 ('56610', '746858397'),
 ('56610', '133867554'),
 ('56610', '683136923'),
 ('56610', '512437676'),
 ('56610', '51172100'),
 ('56610', '23055768'),
 ('56610', '749816684'),
 ('56610', '605464950'),
 ('56610', '138446566'),
 ('56610', '693454302'),
 ('56610', '174536949'),
 ('56610', '328882619'),
 ('56610', '813036459'),
 ('56610', '96264188'),
 ('56610', '152400994'),
 ('56610', '523364962'),
 ('56610', '3676059'),
 ('56610', '3461247'),
 ('56610', '329216338'),
 ('56610', '594567825'),
 ('56610', '243968204'),
 ('56610', '240617983'),
 ('56610', '367057989'),
 ('56610', '478376772'),
 ('56610', '250345824'),
 ('56610', '257688696'),
 ('56610', '125293009'),
 ('56610', '68069742'),
 ('56610', '589370912'),
 ('56610', '100448063'),
 ('56610', '51258642'),
 ('56610', '320314406'),
 ('56610', '2070090'),
 ('56610', '104382647'),
 ('56610', '658239405'),
 ('56610', '155238333'),
 ('56609', '266851580'),
 ('56609', '546612'),
 ('56609', '240617983'),
 ('56609', '485476881'),
 ('56609', '129102705'),
 ('56609', '138960638'),
 ('56609', '46214'),
 ('56609', '601128519'),
 ('56609', '98241834'),
 ('56609', '812860671'),
 ('56609', '281365134'),
 ('56609', '589370912'),
 ('56609', '79395306'),
 ('56609', '750792547'),
 ('56609', '462468262'),
 ('56609', '155238333'),
 ('56609', '624254288'),
 ('56609', '538161678'),
 ('56609', '639455852'),
 ('56609', '658239405'),
 ('56607', '266851580'),
 ('56607', '546612'),
 ('56607', '24447996'),
 ('56607', '433201375'),
 ('56607', '51354997'),
 ('56607', '2448445'),
 ('56607', '279858970'),
 ('56607', '313718703'),
 ('56607', '2070090'),
 ('56607', '688934506'),
 ('56607', '230303103'),
 ('56607', '586271927'),
 ('56607', '3437273'),
 ('56607', '538161678'),
 ('56607', '249953241'),
 ('56607', '170229946'),
 ('56607', '472257317'),
 ('56607', '3461247'),
 ('56607', '2886043'),
 ('56607', '381592445'),
 ('56607', '377843265'),
 ('56607', '232706689'),
 ('56607', '138072354'),
 ('56607', '197044180'),
 ('56607', '98269555'),
 ('56607', '601128519'),
 ('56607', '401402807'),
 ('56607', '284476179'),
 ('56607', '155238333'),
 ('56607', '495682417'),
 ('56607', '6371'),
 ('56607', '169979821'),
 ('56607', '275072576'),
 ('56607', '1250176'),
 ('56607', '18239'),
 ('56607', '227598651'),
 ('56607', '62449311'),
 ('56607', '14130'),
 ('56607', '524022643'),
 ('56607', '31746367'),
 ('56607', '139669455'),
 ('56607', '449346017'),
 ('56607', '136530114'),
 ('56607', '165058781'),
 ('56604', '1548422'),
 ('56604', '743431852'),
 ('56604', '680089470'),
 ('56604', '235162042'),
 ('56604', '252015299'),
 ('56604', '266851580'),
 ('56604', '3355905'),
 ('56604', '567707546'),
 ('56604', '546612'),
 ('56604', '544957186'),
 ('56604', '7999223'),
 ('56604', '50873509'),
 ('56604', '105567320'),
 ('56604', '664210024'),
 ('56604', '623839158'),
 ('56604', '136919121'),
 ('56604', '186856265'),
 ('56604', '487873315'),
 ('56604', '360233031'),
 ('56604', '131575184'),
 ('56604', '151564435'),
 ('56604', '20199180'),
 ('56604', '214801947'),
 ('56604', '302201808'),
 ('56604', '113545957'),
 ('56604', '222254722'),
 ('56604', '126992835'),
 ('56604', '142922629'),
 ('56604', '235746204'),
 ('56604', '328409902'),
 ('56604', '472316028'),
 ('56604', '526191441'),
 ('56604', '624455930'),
 ('56604', '179223309'),
 ('56604', '23720792'),
 ('56604', '78689377'),
 ('56604', '281317152'),
 ('56604', '588888571'),
 ('56604', '23887549'),
 ('56604', '188695511'),
 ('56604', '470207717'),
 ('56604', '31795984'),
 ('56604', '693150335'),
 ('56604', '559737811'),
 ('56604', '462468262'),
 ('56604', '205640328'),
 ('56604', '115774561'),
 ('56604', '3676059'),
 ('56604', '110881966'),
 ('56604', '460291471'),
 ('56604', '240617983'),
 ('56604', '162637605'),
 ('56604', '24278088'),
 ('56604', '6371'),
 ('56604', '220591346'),
 ('56604', '551610650'),
 ('56604', '1397481'),
 ('56604', '237318523'),
 ('56604', '586271927'),
 ('56604', '666094281'),
 ('56604', '138681828'),
 ('56604', '166767673'),
 ('56604', '435929076'),
 ('56604', '510331311'),
 ('56604', '480608763'),
 ('56604', '216132075'),
 ('56604', '31746367'),
 ('56604', '73886990'),
 ('56604', '222892558'),
 ('56604', '138446566'),
 ('56604', '281365134'),
 ('56604', '605694658'),
 ('56604', '29043680'),
 ('56604', '179146166'),
 ('56604', '249953241'),
 ('56604', '256218991'),
 ('56604', '589370912'),
 ('56604', '563827481'),
 ('56604', '171564576'),
 ('56604', '545855939'),
 ('56604', '461694427'),
 ('56604', '679800472'),
 ('56604', '332224693'),
 ('56604', '132930861'),
 ('56604', '120591149'),
 ('56604', '624254288'),
 ('56604', '155238333'),
 ('56604', '98241834'),
 ('56604', '278095494'),
 ('56604', '174530281'),
 ('56604', '7207693'),
 ('56604', '3461247'),
 ('56604', '161044634'),
 ('56604', '200574779'),
 ('56604', '401402807'),
 ('56604', '818357927'),
 ('56604', '104382647'),
 ('56604', '212458137'),
 ('56604', '167976202'),
 ('56604', '138628598')]

In [27]:
post_likes = pd.DataFrame(data_for_df, columns = ["post_id", "user_id"])

In [ ]:
data = json.load(open("user_likes.json", "r"))["users_likes"]
data_for_df = []
for i in data:
    data_for_df.extend(list(zip([i]*len(data[i]), map(str, data[i]))))
data_for_df

In [ ]:
post_likes = pd.DataFrame(data_for_df, columns = ["post_id", "user_id"])